<mat-card class="card" [@hoverState]="hover ? 'hovered' : 'default'" (mouseenter)="hover = true" (mouseleave)="hover = false">
    <img class="card-image" mat-card-image [src]='img | defaultImage' (error)="img = '../../../assets/images/default.avif'" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
      
    </mat-card-header>

    <mat-card-content style="margin: 5px 0;">
        <mat-card-subtitle style="margin-top: 5px;" class="item-date">
            <mat-icon style="vertical-align: bottom;">calendar_month</mat-icon>
            <span>Creado: {{ item.creationAt | formatDate: 3  }}</span>        
        </mat-card-subtitle>
        
        <h3 style="margin: 5px; float: right;">{{ item.price }} €</h3>
        <p style="margin-bottom: 5px;">Categorias:</p>
        <button class="btn-categorias" mat-raised-button [routerLink]="['/categoria', item.category.id ]">
            {{ item.category.name }}
        </button>
      

    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-flat-button color="primary" class="btn-categorias" [routerLink]="['/product', item.id ]">
          <mat-icon >remove_red_eye</mat-icon>
          Detalle Producto
        </button>
    </mat-card-actions>
</mat-card>