.card {
  max-width: 400px;
  min-width: 300px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  transition: 0.3s;
  margin: 10px;
  background-color: #fff;
  color: #000;
}

.mat-mdc-card-subtitle{
  color: #000;
}

.card-image {
  background-size: cover;
  max-height: 300px;
}

.btn-categorias{
  margin: 5px;
  height: 30px;
}