<h1>
    Detalle Categoría
    <button mat-flat-button style="float: right;" (click)="volver();">
        <mat-icon>arrow_back</mat-icon>
        Volver
    </button>
</h1>
<mat-divider></mat-divider>


<div class="grid-category">
    <div class="image">
        <img [src]="categoria.image | defaultImage" alt="Imagen categoria" width="500" height="500">
    </div>

    <div class="datos">
        <h2><span class="label">Categoría:</span> {{ categoria.name }}</h2>
        <h2><span class="label">Slug:</span> {{ categoria.slug }}</h2>
        <h2><span class="label">ID:</span> {{ categoria.id }}</h2>
        <h2><span class="label">Creado:</span> {{ categoria.name }}</h2>
        <h2><span class="label">Actualizado:</span> {{ categoria.name }}</h2>
    </div>
</div>

<h2>Productos de la Categoría- {{ categoria.name }}</h2>
<mat-divider></mat-divider>
<div class="grid-cards" *ngIf="ls.getMode() == 'card'">
  <div *ngFor="let pr of prodsCat;">
    <app-card
      [item]="pr"
      [img]="pr.images[0]"
    ></app-card>
  </div>
</div>
<div class="table-products" *ngIf="ls.getMode() == 'table'">
  <app-grid [item]="prodsCat"></app-grid>            
</div>