
.btn{
  height: 30px;
}

.table{
    background-color: #fff;
    color: #000 !important;
    --mat-table-background-color: #424242;
    --mat-table-header-headline-color: #424242;
    --mat-table-row-item-label-text-color: #424242;
    --mat-table-row-item-outline-color: rgba(0, 0, 0, 0.12);

}