<mat-card class="card" [@hoverState]="hover ? 'hovered' : 'default'" (mouseenter)="hover = true" (mouseleave)="hover = false">
    <img class="card-image" mat-card-image [src]="item.image | defaultImage" (error)="item.image = '../../../assets/default.avif'" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      
    </mat-card-header>

    <mat-card-actions align="end">
        <button mat-flat-button color="primary" [routerLink]="['/categoria', item.id ]">
          <mat-icon >remove_red_eye</mat-icon>
          Ver Mas 
        </button>
    </mat-card-actions>
</mat-card>