<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
    <span>UOC ECOMMERCE PWA</span>
  <span class="example-spacer"></span>

  
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="viewMode" title="Select a view mode">
    Vista: {{ mode }}
    <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #viewMode="matMenu">
    <button mat-menu-item (click)="changeMode('card');"><mat-icon>apps</mat-icon> Card View</button>
    <button mat-menu-item (click)="changeMode('table');"><mat-icon>list</mat-icon>Table View</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened #sidenav>
    <mat-nav-list appNavListKeyManager>
      @for (item of navItems; track item) {
      <a
        mat-list-item
        appListItemFocusable
        [routerLink]="[item.route]"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rla="routerLinkActive"
        [activated]="rla.isActive"
      >
        <span matListItemTitle>{{ item.title }}</span>
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
</mat-sidenav-container>