<h1>Dashboard {{ ls.getMode() }}</h1>
<mat-divider></mat-divider>

<div class="dashboard-container">
    
    <div class="customers">
        <h2>Mejores Clientes</h2>
        <mat-list class="itemList">

            <mat-list-item *ngFor="let cli of customers">
                <img class="itemList__avatar" matListItemAvatar  [src]="cli.avatar | defaultImage" alt="Avatar Usuario">
                <h3 class="itemList__title" matListItemLine>{{cli.name}}</h3>
                <p class="itemList__text" matListItemLine>{{cli.email}}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
            
            
        </mat-list>
    </div>


    <div class="topVentas">
        <h2 class="text-center">Productos desde {{ valor1 }}€ hasta {{ valor2}} €</h2>
        <div class="grid-cards" *ngIf="ls.getMode() == 'card'">
            <div *ngFor="let pr of prodTopVentas;">
                <app-card
                [item]="pr"
                [img]="pr.images[0]"
                ></app-card>
            </div>
        </div>
        <div class="table-products" *ngIf="ls.getMode() == 'table'">
            <app-grid [item]="prodTopVentas"></app-grid>            
        </div>
    </div>
</div>

